<!DOCTYPE html>
<html lang="en">
<head>
<style>
    body {
        background-image: url("https://i.imgur.com/uFq3lLD.jpg");
        background-repeat: fill;
        height: 100%;
        width: 100%;
        background-size: 100%;
    }

    .white-box{
        background-color: white;
        color: black;
        width: 15%;
    }
</style>
    <link rel="stylesheet" href="style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>stockPy</title>
</head>
<body>
    
    {% block content %}
    
    {% endblock %}

</body>
</html>